node_modules
.env
coverage
coverage.json
typechain
typechain-types

# Hardhat files
cache
artifacts

# Docusaurus files
darc-docs/.docusaurus

# Idea files
.idea/

# Darc docs Compiled output
darc-docs/build
darc-docs/static/api
darc-js/dist